{erl_opts, [debug_info]}.

{cover_enabled, true}.
{eunit_compile_opts, [{src_dirs, ["src"]}]}.

{deps,[
    {lager, ".*", {git, "https://github.com/istr/lager",
		    {tag, "29434493a5080541abc68d5c6d80a32dbe77d021"}}},
    {'syslog', ".*", {git, "https://github.com/istr/erlang-syslog",
		    {tag, "e0d4899c68133bc66159c9abf499e92ed72205d1"}}}
]}.
